body {
    max-width: 800px;
    margin: auto;
    font-family: serif;
    line-height: 1.6;
    font-size: 18px;
    padding: 1em 3%;
}

header {
    display: flex;
}

.light {
    color: #444;
    --link: #05f;
}

.dark {
    background-color: #222;
    color: #ddd;
    --link: #0af;
}

.big {
    color: inherit;
    margin-bottom: 0;
}

nav, #copy {
    text-align: center;
}

h1,h2,h3 {
    line-height: 1.2
}

.hl {
    width: max-content;
    cursor: pointer;
    max-width: 100%;
}

.hl:hover:before {
    position: relative;
    left: -1.5ch;
    margin-right: -1.5ch;
    content: "§ "
}

a, a:visited {
    color: var(--link);
    text-decoration: none;
}


main img {
    display: block;
    max-width: 100%;
    margin: auto
}

main pre {
    overflow: auto
}

#theme {    
    border-radius: 4px;

    font-family: serif;
    margin: auto 0 auto auto;
    padding: 0.5em;

    font-size: 0.9em;
}

.dark #theme {
    filter: invert(1);
}

code {
    font-size: 0.9em;
    padding: 0 2px;
    tab-size: 4;
}

pre {
    padding: 0.5em;
    overflow-x: scroll;
    background: #282c34;
    color: #abb2bf;
}