* {font-family: serif;}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.1s;
    font-size: 1em;
}

body > * {width: clamp(10em, 40em, 80%);}

#header {display: flex;}
#title {
    font-size: 3em;
    margin-bottom: 0;
}

.light {
    background-color: #fafafa;
    color: #141414;
    --link: #0044ae;
}
  
.dark {
    background-color: #16161a;
    color: #dcdcdc;
    --link: #6caeda;
}

p, li, dl {font-size: 1.2rem;}
#logo {height: 1.8em;}
.dark #logo {filter: invert(1);}
blockquote {
    border-left: 4px solid #646464;
    margin-left: 1em;
    padding: 0.5em 1em;
    background-color: #64646410;
}

#switch-theme {
    background-color: inherit;
    color: inherit;
    
    border: 2px solid #646464;
    border-radius: 4px;
    
    margin-left: auto;
    padding: 0.5em;
    
    font-size: 0.9em;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--link);
}


#socials {
    display: flex;
    padding-left: 0;
    justify-content: center;
}

#socials li {
    list-style-type: none;
    margin: 0 0.75em;
}

#copyright {
    text-align: center;
}

.highlight {
    overflow: auto;
}

code, code * {font-family: monospace; font-size: 1.1em;}
.highlight table td{padding:5px}.highlight table pre{margin:0}.highlight .err{color:#151515;background-color:#ac4142}.highlight .c,.highlight .c1,.highlight .cd,.highlight .ch,.highlight .cm,.highlight .cpf,.highlight .cs{color:#505050}.highlight .cp,.highlight .nc,.highlight .nc,.highlight .nn,.highlight .nt{color:#f4bf75}.highlight .o,.highlight .ow,.highlight .p,.highlight .pi{color:#d0d0d0}.highlight .gi{color:#90a959}.highlight .gd{color:#ac4142}.highlight .gh{color:#6a9fb5;background-color:#151515;font-weight:bold}.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv,.highlight .sa{color:#aa759f}.highlight .kc,.highlight .kd,.highlight .kt{color:#d28445}.highlight .sr{color:#75b5aa}.highlight .se,.highlight .si{color:#8f5536}.highlight .na{color:#6a9fb5}.highlight .dl,.highlight .il,.highlight .m,.highlight .mb,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .mx,.highlight .s,.highlight .s1,.highlight .s2,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .sh,.highlight .ss,.highlight .sx{color:#90a959}