body {
    max-width: 800px;
    margin: auto;
    font-family: serif;
    line-height: 1.6;
    font-size: 18px;
    padding: 1em 3%;
}

header {
    display: flex;
}

.light {
    color: #444;
    --link: #05f;
}

.dark {
    background-color: #222;
    color: #ddd;
    --link: #0af;
}

#logo {
    height: 1.8rem;
}

.dark #logo, .dark #switch-theme {
    filter: invert(1);
}

h1,h2,h3 {
    line-height: 1.2
}

.hlink {
    width: max-content;
    cursor: pointer;
    max-width: 100%;
}

.hlink:hover:before {
    position: relative;
    left: -1.5ch;
    margin-right: -1.5ch;
    content: "§ "
}

a,
a:visited,
a:hover,
a:active {
    color: var(--link);
    text-decoration: none;
}

#title {
    margin-bottom: 0
}

main img {
    display: block;
    max-width: 100%;
    margin: auto
}

main pre {
    overflow: auto
}

#switch-theme {    
    border-radius: 4px;

    font-family: serif;
    margin-left: auto;
    padding: 0.5em;

    font-size: 0.9em;
}

#socials {
    display: flex;
    padding-left: 0;
    justify-content: center;
}

#socials li {
    list-style-type: none;
    margin: 0 0.75em;
}

#copyright {
    text-align: center;
}

.highlight {
    overflow: auto;
}

code {
    font-size: 0.9em;
    padding: 0 2px;
    tab-size: 4;
}

pre {
    padding: 0.5em;
    overflow-x: scroll;
    background: #282c34;
    color: #abb2bf;
}