<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type" content="website">
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" property="og:title">
    <meta name="og:url" content="{{site.url}}{{ page.url | remove:'index.html' }}">
    {% endif %}

    <meta proprerty="og:description" content="{{ page.content | split:'<!--more-->' | first | strip_html }}">
    <meta name="description" content="{{ page.content | split:'<!--more-->' | first | strip_html }}">

    <link rel="icon" type="image/svg+xml" href="{{site.url}}/assets/favicon.svg">
    <link rel="stylesheet" href="{{site.url}}/assets/style.css">
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feed.xml" />

    <title>
        {% if page.title %}
        {{ page.title }} | Shivram S
        {% else %}
        Shivram S
        {% endif %}
    </title>
</head>

<body>

    <header>
        <h1 class="big"><a href="{{site.url}}">Shivram S</a></h1>
        <button id="theme" onclick="switchTheme()" hidden>Switch Theme</button>
    </header>

    <main>
        {% if page.title or page.metadata %}
        <div>

            {% if page.title %}
            <h1 class="big">
                {{ page.title }}
            </h1>
            {% endif %}

            {% if page.date %}
            {{page.date | date: "%d %B, %Y"}}
            {% endif %}
            
            {% if page.updated %}
             Updated {{page.updated | date: "%d %B, %Y"}}
            {% endif %}
        
        </div>
        <hr>
        {% endif %}

        {{ content }}
    </main>

    <footer>
        {% if page.previous %}
        <p><a href="{{ site.url }}{{ page.previous.url }}">Previous: {{ page.previous.title }}</a></p>
        {% endif %}
        {% if page.next %}
        <p><a href="{{ site.url }}{{ page.next.url }}">Next: {{ page.next.title }}</a></p>
        {% endif %}

        <nav>
            <a href="https://github.com/shivrm">GitHub</a>
             | 
            <a href="https://discord.com/users/778815059865632799">Discord</a>
             | 
            <a href="{{site.url}}/blog">Blog</a>
        </nav>
    

        <p id="copy">&copy; 2022 Shivram S</p>
    </footer>

</body>
<script>
    document.getElementById('theme').hidden = false;
    let darkTheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
    document.body.classList.add(darkTheme ? "dark" : "light");

    function switchTheme() {
        document.body.classList.toggle("light");
        document.body.classList.toggle("dark");
    }

    document.querySelectorAll("h1,h2,h3,h4").forEach(e => {
        if (e.innerHTML.includes('<a')) return;
        e.classList.add('hl');

        e.addEventListener('click', () => {
            window.location.href = '#' + e.getAttribute("id");
        });
    });
</script>

</html>