<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" property="og:title">
    <meta name="og:url" content="{{ page.url|remove:'index.html' }}">
    {% endif %}

    <meta proprerty="og:description" content="{{ page.content | split:'<!--more-->' | first | strip_html }}">
    <meta name="description" content="{{ page.content | split:'<!--more-->' | first | strip_html }}">

    <link rel="icon" type="image/svg+xml" href="{{site.url}}/assets/favicon.svg">
    <link rel="stylesheet" href="{{site.url}}/assets/style.css">
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feed.xml" />

    <title>
        {% if page.title %}
        Shivram S - {{ page.title }}
        {% else %}
        Shivram S
        {% endif %}
    </title>
</head>

<body>

    <header>
        <a href="{{site.url}}"><img src="{{site.url}}/assets/shivram.svg" alt="Shivram S" id="logo"></a>
        <button id="switch-theme" onclick="switchTheme()" hidden>Switch Theme</button>
    </header>


    <main>
        {% if page.title or page.metadata %}
        <div id="metadata">
            {% if page.title %}
            <h1 id="title">
                {{ page.title }}
            </h1>
            {% endif %}

            {% if page.date %}
            {{page.date | date: "%d %B, %Y"}}
            {% endif %}
        </div>
        <hr>
        {% endif %}

        {{ content }}
    </main>

    <footer>
        {% if page.previous %}
        <p><a href="{{ site.url }}{{ page.previous.url }}">Previous: {{ page.previous.title }}</a></p>
        {% endif %}
        {% if page.next %}
        <p><a href="{{ site.url }}{{ page.next.url }}">Next: {{ page.next.title }}</a></p>
        {% endif %}

        <ul id="socials">
            <li><a href="https://github.com/shivrm">GitHub</a></li>
            <li><a href="https://discord.com/users/778815059865632799">Discord</a></li>
            <li><a href="{{site.url}}/blog">Blog</a></li>
        </ul>
        <p id="copyright">
            &copy; 2022 Shivram S</p>
    </footer>

</body>
<script>
    document.getElementById('switch-theme').hidden = false;
    let darkTheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
    document.body.classList.add(darkTheme ? "dark" : "light");

    function switchTheme() {
        document.body.classList.toggle("light");
        document.body.classList.toggle("dark");
    }

    document.querySelectorAll("h1,h2,h3,h4,h5,h6").forEach(e => {
        // Fix for already existing links
        if (e.innerHTML.includes('<a')) return;
        e.classList.add('hlink');

        e.addEventListener('click', () => {
            window.location.href = '#' + e.getAttribute("id");
        });
    });
</script>

</html>